<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>defaultPage</key>
	<string>Index</string>
	<key>defaultUUID</key>
	<string>6119985d-ebbb-4992-bfaa-89cdf4960ea0</string>
	<key>expectedPageCount</key>
	<integer>7</integer>
	<key>localWebAccess</key>
	<false/>
	<key>openWindows</key>
	<array>
		<dict>
			<key>displayUUID</key>
			<string>25bde155-150e-43cd-8039-256b788d895e</string>
			<key>drawerOpen</key>
			<false/>
			<key>openUUIDProperties</key>
			<array>
				<dict>
					<key>itemUUID</key>
					<string>25bde155-150e-43cd-8039-256b788d895e</string>
					<key>rulerVisible</key>
					<false/>
					<key>selectedRange</key>
					<string>{0, 0}</string>
					<key>visibleGlyphs</key>
					<string>{1462, 3616}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
			</array>
			<key>windowFrame</key>
			<string>{{813, 53}, {814, 1074}}</string>
		</dict>
	</array>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>400cd71b-0b02-4c78-a8b6-b66942e4ac42</string>
</dict>
</plist>
