<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>extraData.com.flyingmeat.vpnolinks</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhA5OU011dGFibGVBcnJheQCEhAdOU0Fy
		cmF5AISECE5TT2JqZWN0AIWEAWkBkoSEhAhOU1N0cmluZwGVhAErCXs5OTIs
		IDMyfYaG
		</data>
		<key>lastEditingComputerName</key>
		<string>MacBook Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>Mason Mark</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-08-11T05:07:39Z</date>
	<key>dataHash</key>
	<string>a99e03b756f9020d4d93e6b2e0bb37db60cd9ac2</string>
	<key>displayName</key>
	<string>revisit the fucked state of deregistering NSNotificationCenter observers</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>revisit the fucked state of deregistering nsnotificationcenter observers</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-08-14T09:35:17Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>25bde155-150e-43cd-8039-256b788d895e</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
