<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Mac Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-09-16T15:47:31Z</date>
	<key>dataHash</key>
	<string>6e6cb98191cd85f7b5630ce7a1014ec43a4fa083</string>
	<key>displayName</key>
	<string>recap recent reanimation of bug 3293160</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>recap recent reanimation of bug 3293160</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-09-17T01:20:46Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>6f355e57-4625-4533-8ac9-81b7102a500c</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
