<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Mac Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-08-11T05:12:33Z</date>
	<key>dataHash</key>
	<string>67a7df0ea779ccdc3010056857c4cf7b83af7f79</string>
	<key>displayName</key>
	<string>port/rethink TreeNode (nee NakaharaTreeNode) and friends</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>port/rethink treenode (nee nakaharatreenode) and friends</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-08-11T05:16:38Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>0c7d52bf-70ae-4681-80eb-87d1ea0a62d5</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
