<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Mac Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-08-11T05:24:41Z</date>
	<key>dataHash</key>
	<string>93d8434571b06ff48dfc7e8aa6c7d07e46e4cdcf</string>
	<key>displayName</key>
	<string>NakaharaObjectObservationManager</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>nakaharaobjectobservationmanager</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-08-11T05:26:07Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>d11229fe-8aa2-44c0-85be-905090c01141</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
